*{
    margin: 0;
    padding: 0;
}

header{
    background: #2D5371;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
}

img{
    width: 130px;
    height: 130px;
    margin: 3em;
}

ul{
    display: flex;
    margin: 18em;
}

li{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding: 2rem;
    font-size: 20px;
}

footer{
    background: rgb(26, 25, 25);
    display: flex;
    height: 35vh;
    color: white;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redes{
    display: flex;
    flex-direction: column;
}

.contato{
    display: flex;
    flex-direction: column;
}

.privacidade{
    display: flex;
    flex-direction: column;
}