*{
    margin: 0;
    padding: 0;
}

header{
    background: #2D5371;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
}

.logo img{
    width: 130px;
    height: 130px;
    margin: 3em;
}

.menu{
    display: flex;
    margin: 18em;
}

.item-menu{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding: 2rem;
    font-size: 20px;
}

footer{
    display: flex;
    background: rgb(26, 25, 25);
    display: flex;
    height: 35vh;
    color: white;
}