*{
    margin: 0;
    padding: 0;
}

header{
    background: #2D5371;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
}

.logo img{
    width: 130px;
    height: 130px;
    margin: 3em;
}

a:link{
    text-decoration: none;
}

.menu{
    display: flex;
    margin: 18em;
}

.item-menu{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding: 2rem;
    font-size: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    background: rgb(26, 25, 25);
    height: 12vh;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.informativo{
    background-color: rgb(243, 234, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.privacidade{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}