*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F6F6;
}

.container{
    display: flex;
    align-items: center;
    background-color: #487AA1;
    padding: 30px;
    width: 25%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;
}

.title{
    color: white;
}

.input{
    background: none;
    border: none;
    border-bottom: 1.5px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 120%;
    margin-top: 7px;
}

#submit{
    background-color: #24425A;
    padding: 15px;
    width: 60%;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover{
    background-color: #2D5371;
}

.mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin-top: 42%;
    width: 25%;
}