body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #2D5371, #B2D9F7);
}

.voltar{
    margin-left: 1.5em;
    margin-top: 1em;
}

.container{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2D5371;
    padding: 20px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid white;
}

legend{
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    background-color: #2D5371;
    border-radius: 7px;
}

.inputBox{
    position: relative;
}

.input{
    background: none;
    border: none;
    border-bottom: 1.5px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
}

.title{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.input:focus ~ .title,
.input:valid ~ .title{
    top: -20px;
    font-size: 12px;
    color: #B2D9F7;
}

#submit{
    background-color: #24425A;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover{
    background-color: #487AA1;
}

.mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin-top: 50%;
    width: 20%;
}