body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #2D5371, #B2D9F7);
    overflow: hidden;
}

.voltar{
    margin-left: 1.5em;
    margin-top: 1em;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login h1{
    color: white;
    margin-top: 100px;
    margin-bottom: -65px;
}

.img-left{
    margin-bottom: -10px;
}

.right-login{
    width: 35vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2D5371;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1{
    color: white;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: black;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    background-color: #24425A;
    color: white;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #487AA1;
}

.cadastro a{
    color: white;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16pt;
}