*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B2D9F7;
    padding: 1rem;
}

.form-image img{
    /* width: 31rem; */
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.atualizar-button{
    display: flex;
    justify-content: flex-end;
}

.atualizar-button button{
    width: 25%;
    border: none;
    background-color: #487AA1;
    padding: 15px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    font-size: 14pt;
}

.atualizar-button button:hover{
    background-color: #2D5371;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none solid 1px black;
    border-radius: 10px;
    font-size: 0.8rem;
}

.input-box input::placeholder{
    color: rgb(29, 26, 26);
}

.mensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensagem p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    width: 35%;
    margin-top: 10px;
}