body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #2D5371, #B2D9F7);
}

header{
    background: #2D5371;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
}

.logo img{
    width: 130px;
    height: 130px;
    margin: 3em;
}

.menu{
    display: flex;
    margin: 18em;
}

a:link{
    text-decoration: none;
}

.item-menu{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding: 2rem;
    font-size: 20px;
}

.container{
    color: white;
    position: absolute;
    margin-top: 7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2D5371;
    padding: 20px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid white;
}

legend{
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    background-color: #2D5371;
    border-radius: 7px;
}

.inputBox{
    position: relative;
}

.input{
    background: none;
    border: none;
    border-bottom: 1.5px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
}

.title{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.input:focus ~ .title,
.input:valid ~.title{
    top: -20px;
    font-size: 12px;
    color: #B2D9F7;
}

/* input[type="file"] {
    display: none;
}

label[for="arquivo"]{
    background-color: #487AA1;
    color: white;
    padding: 7px;
    cursor: pointer;
} */

#submit{
    background-color: #24425A;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover{
    background-color: #487AA1;
}

.mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin-top: 45%;
    width: 20%;
}

footer{
    display: flex;
    flex-direction: column;
    background: rgb(26, 25, 25);
    height: 12vh;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.privacidade{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}